Mandatory: the project should compile and run without any errors. Only tested implementations 
will be graded.

(1p+) You are asked to develop a Windows Forms application for a medical clinic. Define the Specialty 
class (Id, Name) and the Doctor class (Id, Name, BirthDate, Wage, and SpecialtyId).

(0.5p) The specialties will be loaded from the Specialties.txt file. The text file should be created 
using a text editor at your choice and should contain at least three entries.

(2p) The instances of the Doctor class will be added using a secondary form, in which the user will 
be able to optionally choose the specialty of the doctor using a ListBox control. The age should be 
between 25 and 70. The validation errors will be displayed next to the corresponding fields when the 
user changes the focus to another control, as well as when the user clicks the "Save" button. The 
application should not crash if the user inputs invalid information.

(0.5p) The instances of the class will be stored in a List<T> collection and will be displayed in the 
main form using a ListView control, configured to look similar to a table.

(1p) The user will have the possibility to delete doctors and also to edit them (double click on the row). 
The user should be able to select an entry in the list by clicking anywhere inside the corresponding row 
(not only on the first column). Editing the information for a doctor should be performed in a secondary form.

(2p) The list of doctors will be automatically loaded when the application starts with the values retrieved 
from a database.

(1p) Add a toolbar to the application, allowing the user to export the list of doctors in XML format. The name 
and the location of the XML file will be chosen using a SaveFileDialog.

(1p) Implement the IComparer<T> / IComparer interface in order to sort the doctors in either ascending order 
based on their Name, or in descending order based on their BirthDate. The user will be able to choose the 
current sorting order from a contextual menu.

(1p) Allow the user to print a list with all the doctors and their assigned specialties.